html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 20px 0;
  padding: 10;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #8bbcd8;
}

.intro-header {
  margin: 100px312 0;
  text-align: center;
  padding: 20;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #202020;
  background-color: #bdc2d6;
}
